html
	head
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
		link(rel="stylesheet", href="style.css")
	body
		a(href="/home") Home
		br
		a(href="/student") Student Page
		br
		a(href="/map") Course Student Mapping
		h1 Course Page
		form(action="/course", method='post')
			input(type="text", name="id", placeholder="id" autofocus)
			input(type="text", name="name", placeholder="name")
			select(name="action")
				option(value="add") add
				option(value="delete") delete
				option(value="view") view
				option(value="activate") activate
				option(value="deactivate") deactivate
			input(type="submit", value="Submit")
		p #{message}