html
	head
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
		link(rel="stylesheet", href="style.css")
	body
		a(href="/home") Home
		br
		a(href="/course") Course Page
		br
		a(href="/map") Course Student Mapping
		h1 Student Page
		form(action="/student", method='post')
			input(type="text", name="id", placeholder="Student Id" autofocus)
			input(type="text", name="name", placeholder="Student name")
			select(name="action")
				option(value="add") Add
				option(value="delete") Delete
				option(value="view") View
			input(type="submit", value="Submit")
		p #{message}